lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.vimsession

pids
logs
results

npm-debug.log

# Netbeans
/nbproject/

# Webstorm Settings
.idea

# Istanbul Output
/coverage/

# NPM Dependencies
/node_modules/
binary-paths.json
last-config.json
